*~
*.pyc
*.pyo
*.swp
*.swo
*.dmp
*.orig
*.sqlite
*.rdb

touch.file
conf/local_settings.py
idr/local_settings.py
debug

.DS_Store
tmp/
build/

.idea/*
*.sublime-project
*.sublime-workspace

env
var/
venv/

media
assets/*

.project
.pydevproject
.settings
.coverage
.pylintrc

.sass-cache*
newrelic.ini
.idea/
idr/__pycache__/
idr/accounts/__pycache__/
idr/accounts/migrations/__pycache__/
idr/api/__pycache__/
idr/api/migrations/__pycache__/
idr/api/v1/__pycache__/
idr/notifications/__pycache__/
idr/notifications/migrations/__pycache__/
